body {
  font-family: "Montserrat";
  line-height: 2;
}

p {
  color: #8f8f8f;
}

a {
  text-decoration: none;
}

/* Containers */
.container-fluid {
  padding: 6% 15%;
}

#title .container-fluid {
  padding: 3% 15% 6%;
}

@media (max-width: 571px) {
  .container-fluid {
    padding: 10% 10%;
  }

  #title .container-fluid {
    padding: 1% 10% 6%;
  }
}

.content {
  padding-top: 4%;
}

/* Buttons */
.btn {
  margin: 0 2% 3% 0;
}

.my-buttons {
  background-color: #063578;
  color: white;
  /* margin-right: 2%; */
  /* margin-bottom: 3%; */
}

.list-group {
  border-left: groove;
}

.my-buttons:hover {
  color: #063578;
  background-color: white;
  border-color: #063578;
}

.my-buttons-outline {
  background: white;
  color: #063578;
  border-color: #063578;
}

.my-buttons-outline:hover {
  background: #063578;
  color: white;
  border-color: #063578;
}

/* Headings */
.section-head {
  text-align: center;
}

.sub-heading {
  color: #8f8f8f;
  font-size: 1.5rem;
  text-align: center;
}

.col-10 .section-head {
  text-align: left;
}

.col-10 .sub-heading {
  color: #8f8f8f;
  font-size: 1.5rem;
  text-align: left;
}

@media (max-width: 588px) {
  .col-10 .section-head {
    font-size: 1.75rem;
  }

  .col-10 .sub-heading {
    font-size: 1.25rem;
  }
}

/* Navigation Bar */
.navbar-brand {
  font-size: 3rem;
  letter-spacing: .2rem;
}

@media (max-width: 1086px) and (min-width: 992px) {
  .navbar-brand {
    font-size: 2.45rem;
    letter-spacing: .18rem;
  }
}

.nav-link {
  margin-left: 0;
  margin-right: 0;
}

.first-name {
  color: #CF0000;
  color: #063578;
  font-weight: 600;
}

.last-name {
  font-weight: 300;
}

.navbar-nav {
  font-size: 1.25rem;
  font-weight: 300;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .navbar-nav {
    font-size: 1rem;
    font-weight: 400;
  }
}

.phoenix_icon {
  width: 2rem;
  margin: 10px;
}

/* Title */

@media (min-width: 992px) {
  .title-row {
    display: flex;
    flex-flow: row-reverse;
  }
}

.title-content {
  padding-top: 4rem;
}

@media (max-width: 571px) {
  .title-content {
    padding-top: 1rem;
  }
}

.title-description {
  padding: 3% 10% 3% 0;
}

.profile-picture {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.social-icon-group {
  margin-top: .5rem;
}

.social-icon {
  display: block;
  color: #063578;
  margin-bottom: 1.1rem;
}

/* About Me */
.about-image {
  width: 80%;
  border-radius: 10%;
}

@media (max-width: 992px) {
  .about-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3%
  }
}

.about-description {
  margin: 3% 0 5%;
}

/* Skills */
accordion-body {
  color: #8f8f8f;
}

.accordion-button {
  line-height: 1.5;
}

@media (max-width: 992px) {
  .hard-skills {
    padding-bottom: 1rem;
  }
}

/* Projects */
.card {
  width: 100%;
  margin-top: 5%;
  border: none;
}

/* Contact Me */
.contact_item {
  text-align: center;
  /* margin-top: 4%; */
  margin-top: 2rem;
}

.contact-type {
  font-size: 2rem;
}

.contact-detail {
  color: #8f8f8f;
  font-size: 1.5rem;
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 5%;
}
